html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 300px;
    height: 100vh;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 80%;
    margin: 15px auto;
    h6 {
           color: #b0b0b0;
       }
    ul {
        padding: 0;
        a
        {
            padding: 10px 20px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            border-radius: 15px;
            text-decoration: none;
            color: #b0b0b0;
            background-color: #333;
            li
            {
                list-style: none;
                display: flex;
                flex-direction: row;
                .list-logo
                {
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        a.active
        {
            background-color: #3a82f7;
            color: #fff;
        }
    }
}

.navbar-brand {
    margin: 25px 0 35px 0;
}

.content {
    width: 100%;
    background-color: #121212;
}

.account {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    a
    {
        text-decoration: none;
        height: fit-content;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: end;
        margin-right: 25px;
        padding: 5px;
        padding-left: 10px;
        border-radius: 25px;
        background-color: #555;
        div {
            h6 {
                    margin: 0;
                    color: #ffffff;
            }
            p {
                margin: 0;
                font-size: 12px;
                color: #b0b0b0;
            }
        }
        img
        {
            width: 40px;
            height: 40px;
        }
        &::after {
            content: none;
        }
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    .card {
        width: 20%;
        aspect-ratio: 4/3;
        background-color: #9B6DED;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(even) {
        background-color: #FFD700;
        }
    }
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*.navbar > .container-fluid {
    max-width: 1200px;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}*/

.navbar-toggler {
    border: none;
    box-shadow: none;
    &:focus

{
    box-shadow: none;
}

}

.bg-img {
    background-image: url(../img/bg-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-glass {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}

.form-floating > .form-control:focus ~ label::after {
    background-color: transparent;
    color: var(--bs-secondary-color);
}

.form-check-input {
    --bs-form-check-bg: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 4px );
    border: none;
}

.form-check-input:focus {
    box-shadow: none;
    border: none;
}

.bg-trans::after {
    background-color: rgba( 255, 255, 255, 0.2 ) !important;
    backdrop-filter: blur( 4px );
}

.form-control:focus {
    box-shadow: 4px 4px 4px 0.1rem white;
}

.txt-white {
    color: #fff;
}

.txt-white:hover {
    color: #bbb;
}

.navbar-brand {
    
}